html
  head
    h1 My Site - #{title}
    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  body
    block content
    block foot
      #footer
        p some footer content